<div class="row">
    <fieldset>
        <legend>Editar Ciudad</legend>
        <form [formGroup]="fgValidador" (ngSubmit)="ActualizarCiudad()" class="col s6">
        <div class="row">
            <div class="input-field col s12">
                <input type="hidden" formControlName="id" value="">
                <input formControlName="nombre"  id="nombre" type="text" class="validate">
                <label for="name" class="active">nombre</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input formControlName="departamentoId"  id="departamentoId" type="text" class="validate">
                <label for="name" class="active">Id departamento</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <button  class="waves-effect waves-light btn" [disabled]="ObtenerFGV['nombre'].errors || ObtenerFGV['departamentoId'].errors ">
                    <i class="material-icons right">save</i>Actualizar
                </button>
                &nbsp;
                <a class="waves-effect red waves-light btn"><i class="material-icons right">cancel</i>Cancelar</a>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <ul>
                    <li ><a  class="waves-effect waves-light btn" routerLink="/parametros/listar-ciudad"><i class="material-icons left">add</i>Listar Ciudades</a></li>
                </ul>
                
            </div>
        </div>
        </form>
    </fieldset>
  </div>