<nav>
    <div class="nav-wrapper teal">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="mascotas/admin">Mascotas</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="parametros/listar-departamento">Departamento</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="seguridad/cerrar-sesion">Cerrar session</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="seguridad/cambiar-clave">cambiar clave </a></li>
        <li *ngIf="!isLoggedIn"><a routerLink="seguridad/iniciar-sesion">Iniciar sesion</a></li>
      </ul>
    </div>
  </nav>
  <!--Navbar for the mobile devices-->
  <!--It use a javascript code to initialize the sidenav-->
  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="mascotas/admin">Mascotas</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="parametros/listar-departamento"> Departamento</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="seguridad/cerrar-sesion">Cerrar session</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="seguridad/cambiar-clave">cambiar clave </a></li>
    <li *ngIf="!isLoggedIn"><a routerLink="seguridad/iniciar-sesion">Iniciar sesion</a></li>
  </ul>