<div class="row">
    <fieldset>
        <legend>Crear departamento</legend>
        <form [formGroup]="fgValidador" (ngSubmit)="GuardarDepartamento()" class="col s6">
        <div class="row">
            <div class="input-field col s12">
                <input formControlName="nombre"  id="name" type="text" class="validate">
                <label for="name">nombre</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <button  class="waves-effect waves-light btn" [disabled]="ObtenerFGV['nombre'].errors  ">
                    <i class="material-icons right">save</i>Guardar
                </button>
                &nbsp;
                <a class="waves-effect red waves-light btn"><i class="material-icons right">cancel</i>Cancelar</a>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <ul>
                    <li ><a  class="waves-effect waves-light btn" routerLink="/parametros/listar-departamento"><i class="material-icons left">add</i>Listar departamento</a></li>
                </ul>
                
            </div>
        </div>
        </form>
    </fieldset>
  </div>
